.bookcontainer {
  margin-top: 2em;
  display: inline-flex;
  /* border: 3px solid blue; */
  background-color: #eee;
  width: 12em;
}

.card {
  height: 17em;
  width: 10em;
  margin-right: 3em;
  margin-bottom: 7em;
  padding: 1em 1em 1em 1em;

  /* border: 2px solid red; */
}

.bookcontainer__button {
  width: 10em;
  height: 2.5em;
  font-size: 1em;
  align-items: center;
  color: white;
  background-color: #56baed;
  border: none;
  border-radius: 0.2em;
  /* margin-left: 1em; */
}

.bookcontainer__button:hover {
  color: red;
  cursor: pointer;
}

.bookcontiner__image {
  height: 95%;
  width: 100%;
  margin-top: -0.5em;
}

.bookcontainer__title {
  margin-top: -0.7em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
}
